**/*.rs.bk
*.iml
*.log
*~
# Devenv
.devenv*
# direnv
.direnv
.env
.envrc
.helix/config.toml
.idea
# pre-commit
.pre-commit-config.yaml
/result*
devenv.local.nix
documentation/book
result
# cachix tmp file
store-path-pre-build
target
template/flake.lock
